@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.login,
.register {
  display: absolute;
  height: 800vh;
  font-size: 2rem;
}

.canvasIphone {
  position: sticky;
  display: block;
  margin: 20px;
  margin-top: 3rem;
  overflow: hidden;
  outline: none;
}
